include mixins

block variables

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        link(type="image/x-icon" rel="shortcut icon" href="/assets/img/favicon.ico")
        title Главная
        meta(name="description" content=`${description}`)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head-scripts

    body
        header()
        main
            block content

        //include ../pages/_modals
        //include ../components/window-vars/window-vars